.navbar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 6rem;
  padding: 1rem;
  background: #3a3439;
}

.navlinks {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navlink {
  font-family: 'Cinzel Regular', serif;
  font-size: 1.5rem;
  text-align: center;
  transition: all .3s ease-in-out;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  width: 20rem;
}

.active {
  color: black;
  background: #6c6168;
}

.navlink:hover {
  color: black;
  background: #6c6168;
}
