.book {
  transition: opacity 0.4s 0.2s;
  perspective: 250vw;
  animation: float-tilt 8s infinite ease-in-out alternate;
}

@keyframes float-tilt {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0deg);
  }
  50% {
    transform: translate3d(0, 10px, 0) rotateZ(-2deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotateX(0deg);
  }
}

.page {
  width: 37.5vw;
  height: 55vw;
  float: left;
  margin-bottom: 0.5em;
  background: none;
  background-size: cover;
}

.page1 {
  outline: 1px solid black;
  background-color: black !important;
  background-image: url("https://github.com/thomas-rooty/terrific-witches/blob/master/public/book/cover.png?raw=true") !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.page2 {
  background-color: black !important;
  background-image: url("https://github.com/thomas-rooty/terrific-witches/blob/master/public/book/1%20gauche.jpg?raw=true") !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.page3 {
  background-color: black !important;
  background-image: url("https://github.com/thomas-rooty/terrific-witches/blob/master/public/book/2%20droite.jpg?raw=true") !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.page4 {
  background-color: black !important;
  background-image: url("https://github.com/thomas-rooty/terrific-witches/blob/master/public/book/3%20gauche.jpg?raw=true") !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.page5 {
  background-color: black !important;
  background-image: url("https://github.com/thomas-rooty/terrific-witches/blob/master/public/book/4%20droite.jpg?raw=true") !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.page6 {
  background-color: black !important;
  background-image: url("https://github.com/thomas-rooty/terrific-witches/blob/master/public/book/5%20gauche.jpg?raw=true") !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.page7 {
  background-color: black !important;
  background-image: url("https://github.com/thomas-rooty/terrific-witches/blob/master/public/book/6%20droite.jpg?raw=true") !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.page8 {
  background-color: black !important;
  background-image: url("https://github.com/thomas-rooty/terrific-witches/blob/master/public/book/7%20gauche.jpg?raw=true") !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.page9 {
  background-color: black !important;
  background-image: url("https://github.com/thomas-rooty/terrific-witches/blob/master/public/book/8%20droite.jpg?raw=true") !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.page10 {
  background-color: black !important;
  background-image: url("https://github.com/thomas-rooty/terrific-witches/blob/master/public/book/9%20gauche.jpg?raw=true") !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.page11 {
  background-color: black !important;
  background-image: url("https://github.com/thomas-rooty/terrific-witches/blob/master/public/book/10%20droite.jpg?raw=true") !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.page12 {
  background-color: black !important;
  background-image: url("https://github.com/thomas-rooty/terrific-witches/blob/master/public/book/11%20gauche.jpg?raw=true") !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.page13 {
  background-color: black !important;
  background-image: url("https://github.com/thomas-rooty/terrific-witches/blob/master/public/book/12%20droite.jpg?raw=true") !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.page14 {
  outline: 1px solid black;
  background-color: black !important;
  background-image: url("https://github.com/thomas-rooty/terrific-witches/blob/master/public/book/back.png?raw=true") !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.page:nth-child(even) {
  clear: both;
}

.book {
  perspective: 250vw;
}

.book .pages {
  width: 56.25vw;
  height: 41.25vw;
  position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 4px;
  /*box-shadow: 0 0 0 1px #e3dfd8;*/
}

.book .page {
  float: none;
  clear: none;
  margin: 0;
  position: absolute;
  top: 0;
  width: 28.1vw;
  height: 41.25vw;
  transform-origin: 0 0;
  transition: transform 1.4s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  cursor: pointer;
  user-select: none;
  background-color: #1a1a1a;
}

.book .page:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.7s;
  z-index: 2;
}

.book .page:nth-child(odd) {
  pointer-events: all;
  transform: rotateY(0deg);
  right: 0;
  border-radius: 0 4px 4px 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, .15) 0%, rgba(0, 0, 0, 0) 10%);
}

.book .page:nth-child(odd):hover {
  transform: rotateY(-20deg);
}

.book .page:nth-child(odd):hover:before {
  background: rgba(0, 0, 0, 0.03);
}

.book .page:nth-child(odd):before {
  background: rgba(0, 0, 0, 0);
}

.book .page:nth-child(even) {
  pointer-events: none;
  transform: rotateY(180deg);
  transform-origin: 100% 0;
  left: 0;
  border-radius: 4px 0 0 4px;
  border-color: black;
  background-image: linear-gradient(to left, rgba(0, 0, 0, .12) 0%, rgba(0, 0, 0, 0) 10%);
}

.book .page:nth-child(even):before {
  background: rgba(0, 0, 0, 0.2);
}

.book .page.grabbing {
  transition: none;
}

.book .page.flipped:nth-child(odd) {
  pointer-events: none;
  transform: rotateY(-180deg);
}

.book .page.flipped:nth-child(odd):before {
  background: rgba(0, 0, 0, 0.2);
}

.book .page.flipped:nth-child(even) {
  pointer-events: all;
  transform: rotateY(0deg);
}

.book .page.flipped:nth-child(even):hover {
  transform: rotateY(15deg);
}

.book .page.flipped:nth-child(even):hover:before {
  background: rgba(0, 0, 0, 0.03);
}

.book .page.flipped:nth-child(even):before {
  background: rgba(0, 0, 0, 0);
}

.page:nth-child(odd) {
  background-position: right top;
}

