.book {
  transition: opacity 0.4s 0.2s;
}

.page {
  width: 30vw;
  height: 44vw;
  float: left;
  margin-bottom: 0.5em;
  background: #111111 no-repeat left top;
  background-size: cover;
}

.odd {
  background-position: right top;
}

.book {
  perspective: 250vw;
}

.pages {
  width: 60vw;
  height: 44vw;
  position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 4px;
}

.page {
  float: none;
  clear: none;
  margin: 0;
  position: absolute;
  top: 0;
  width: 30vw;
  height: 44vw;
  transform-origin: 0 0;
  transition: transform 1.4s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  cursor: pointer;
  user-select: none;
  background-color: #f0f0f0;
}

.page:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.7s;
  z-index: 2;
}

.page:nth-child(odd) {
  pointer-events: all;
  transform: rotateY(0deg);
  right: 0;
  border-radius: 0 4px 4px 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 10%);
}

.page:nth-child(odd):hover {
  transform: rotateY(-15deg);
}

.page:nth-child(odd):hover:before {
  background: rgba(0, 0, 0, 0.03);
}

.page:nth-child(odd):before {
  background: rgba(0, 0, 0, 0);
}

.page:nth-child(even) {
  pointer-events: none;
  transform: rotateY(180deg);
  transform-origin: 100% 0;
  left: 0;
  border-radius: 4px 0 0 4px;
  border-color: black;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0) 10%);
}

.page:nth-child(even):before {
  background: rgba(0, 0, 0, 0.2);
}

.page.grabbing {
  transition: none;
}

.page.flipped:nth-child(odd) {
  pointer-events: none;
  transform: rotateY(-180deg);
}

.page.flipped:nth-child(odd):before {
  background: rgba(0, 0, 0, 0.2);
}

.page.flipped:nth-child(even) {
  pointer-events: all;
  transform: rotateY(0deg);
}

.page.flipped:nth-child(even):hover {
  transform: rotateY(15deg);
}

.page.flipped:nth-child(even):hover:before {
  background: rgba(0, 0, 0, 0.03);
}

.page.flipped:nth-child(even):before {
  background: rgba(0, 0, 0, 0);
}

@media (max-width: 768px) {
  .page {
    width: 90vw;
    height: 130vw;
  }
}
